/* utility */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 60%;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
}

.column{
  float: left;
}


/* header */

.banner{
  height: 100px;
  background-color: #d571d5;
  margin-bottom: 20px;
}

.jumbotron{
  height: 400px;
  background-color: #e1d67a;
  margin-bottom: 20px;
}


/* main */

.title{
  height: 80px;
  background-color: #abcfe7;
}

.blue{
  height: 450px;
  background-color: #0186fe;
}

.sx{
  height: 90%;
  width: 20%;
  background-color: #abcfe7;
  margin-top: 20px;
  margin-right: 20px;
}

.center{
  height: 90%;
  width: calc(100% - 20% - 20% - 20px - 20px);
  margin-top: 20px;
  background-color: #abcfe7;
}

.dx{
  height: 90%;
  width: 20%;
  background-color: #abcfe7;
  margin-top: 20px;
  margin-left: 20px;
}

/* footer */

.foot{
  height: 50px;
  margin-top: 10px;
  background-color: #6409b4;
}

